# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Python
backend/.venv/
__pycache__/
*.pyc

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Local env
*.local
.env
